.main{
  width: 100%;
  height: auto;
  background-color: #FCF9FC;
}
.main_center{
  width: 1200px;
  margin: 0px auto;
}
.navigation{
  width: 1200px;
  text-align: left;
  padding: 16px 0;
  line-height: 17px;
  height: 17px;
  font-size: 12px;
  margin: 0 auto;
}

/* 登录注册表单相关 */
.dialog_class {
  text-align: left;
}
.dialog_class .el-form-item__label {
  padding-top: 5px;
  padding-bottom: 7px;
  line-height: 20px;
  color:rgba(51,51,51,1);
}
.grid-content {
border-radius: 4px;
min-height: 36px;
background-color: #3EDCFE;
margin-bottom: 20px;
}
.header_form{
padding:0 30px;
}
.form_logo{
height: 82px;
width: 82px;
border:1px solid #B2B2B2;
border-radius: 82px;
line-height: 82px;
margin:0px auto;
background-color: #B2B2B2;
color:#fff;
}
.register_header{
font-size: 28px;
line-height: 28px;
color: #333333;
font-weight: Medium;
text-align: left;
margin-bottom: 28px;
}
.dialog_class .el-form-item{
margin-bottom: 12px;
}
.sub1{
cursor: pointer;
}
.dialog-toggle {
cursor: pointer;
text-align: center;
}
.dialog-footer {
margin-top: 25px;
}

/* 用户中心表单相关 */
.ua_box{
  min-height: 750px;
}
.ua_title h4{
  height: 33px;
  font-size: 24px;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height: 33px;
  margin: 34px 30px;
  text-align: left;
}
.ua_area{
  width: 920px;
  margin:0 auto 20px;
  text-align: left;
}
.ua_area .el-form-item__label {
  padding-bottom: 7px;
  line-height: 20px;
  color:rgba(51,51,51,1);
}

/* menu */
.main_body {
  height: 80px;
}
.index_header_phone {
  display: none;
}
.index_header{
  width: 1200px;
  height: 80px;
  line-height: 80px;
  text-align: right;
}
.index_header a{
  display: inline-block;
  height: 80px;
  line-height: 80px;
  margin-right: 50px;
  font-size: 16px;
  font-weight: 500;
}
.nav-logo{
  float: left;
}
.nav-logo img{
  width: 110px;
  margin-top: 19px;
}
.menuBtn {
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  width: 80px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 30px;
}
#login{
  background-color:#fff;
  color: #3EDCFE;
  border: 1px solid #3EDCFE;
}
#register{
  background-color: #3EDCFE;
  color: #fff;
  border: 1px solid #3EDCFE;
}
.el-dropdown-link{
  cursor: pointer;
}

@media (max-width: 1280px){
  .main_center {
    width: 12rem;
  }
  .navigation{
    width: 12rem;
    padding: .16rem 0;
    font-size: .12rem;
    line-height: .17rem;
    height: .17rem;
  }
  /* 用户中心表单相关 */
  .ua_box{
    min-height: 7.5rem;
  }
  .ua_title h4{
    height: .33rem;
    font-size: .24rem;
    line-height: .33rem;
    margin: .34rem .3rem;
  }
  .ua_area{
    width: 9.2rem;
    margin: 0 auto .2rem;
  }
  .ua_area .el-form-item__label {
    padding-bottom: .07rem;
    line-height: .2rem;
  }
  /* menu */
  .main_body {
    height: .8rem;
  }
  .index_header{
    width: 12rem;
    height: .8rem;
    line-height: .8rem;
  }
  .index_header a{
    height: .8rem;
    line-height: .8rem;
    margin-right: .5rem;
    font-size: .16rem;
  }
  .nav-logo img{
    width: 1.1rem;
    margin-top: .19rem;
  }
  .menuBtn {
    border-radius: .06rem;
    width: .8rem;
    height: .36rem;
    line-height: .36rem;
    font-size: .16rem;
    margin-right: .3rem;
  }
  #login{
    border: .01rem solid #3EDCFE;
  }
  #register{
    border: .01rem solid #3EDCFE;
  }
}

@media (max-width: 981px){
  .main_center {
    padding-top: .5rem;
  }
  /* 面包屑 */
  .navigation {
    display: none;
  }
  /* menu  移动端*/
  .main_body {
    position: relative;
    height: 1.7rem;
  }
  .index_header {
    display: none;
  }    
  .index_header_phone {
    display: block;
    height: 1.7rem;
  }
  .index_header_phone .nav-logo {
    display: inline-block;
  }
  .index_header_phone .nav-logo img {
    height: 1.29rem;
    width: auto;
    margin-left: .26rem;
  }
  .index_header_phone .menuBtn_phone {
    display: inline-block;
    height: 1.7rem;
    line-height: 1.7rem;
    font-size: .5rem;
    float: right;
    margin-right: .8rem;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
  }
  .index_header_phone .menuBtn_phone img {
    position: absolute;
    width: 1.02rem;
    height: 1.02rem;
    border-radius: 1.02rem;
    left: -1.2rem;
    top: .34rem;
  }
  .index_header_phone .el-dropdown {
    float: right;
    margin-right: .34rem;
    margin-top: .5rem;
  }
  .el-dropdown-link-menu {
    display: inline-block;
    outline: none;
  }
  .el-dropdown-link-language {
    outline: none;
  }
  .el-dropdown-link-menu img{
    height: .7rem
  }
  .el-dropdown-menu {
    text-align: center;
    display: inline-block;
    outline: none;
  }
}