.main{
	width: 100%;
	height: auto;
	background-color: #FCF9FC;
}
.main_center{
	width: 1200px;
	margin: 0px auto;
}
.navigation{
	width: 1200px;
	text-align: left;
	padding:16px auto 17px;
	line-height: 45px;
	height: 45px;
}

.ua_box{
height: 750px;
}
.ua_title h4{
width:96px;
height:33px;
font-size:24px;
font-weight:500;
color:rgba(51,51,51,1);
line-height:33px;
margin: 34px auto 35px 30px;
}
.ua_area{
width: 920px;
margin:0 auto 20px;
text-align: left;
}
.ua_area .el-form-item__label {
padding-bottom: 7px;
line-height: 20px;
color:rgba(51,51,51,1);
}